
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <title>Baby Protect Seva+ | Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/prettyPhoto/css/prettyPhoto.css">
        <link rel="stylesheet" href="assets/css/flexslider.css">
        <link rel="stylesheet" href="assets/css/font-awesome.css">
        <link rel="stylesheet" href="assets/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>
         <div class="container">
            <div class="header row">
                <div class="span12">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <h1>
                                <a class="brand" href="/">Baby Protect</a>
                            </h1>
                            <div class="nav-collapse collapse">
                                <ul class="nav pull-right">
                                    <li>
                                        <a href="/"><i class="icon-home  icon-large"></i><br />Home</a>
                                    </li>
                                    <li class="current-page">
                                        <a href="/features"><i class="icon-star  icon-large"></i><br />Features</a>
                                    </li>
                                     <li>
                                        <a href="/howtouse"><i class="icon-book  icon-large"></i><br />How-To-Use</a>
                                    </li>
                                    <li>
                                        <a href="/contactus"><i class="icon-envelope  icon-large"></i><br />Contact Us</a>
                                    </li>
                          
                                    <li>
                                        <a href="/users/sign_in"><i class="icon-key  icon-large"></i><br />Login</a>
                                    </li>
                                    <li>
                                      
                                        <a href="/users/sign_up"><i class="icon-pencil  icon-large"></i><br />Signup</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <i class="icon-star page-title-icon"></i>
                        <h2>Features |</h2>
                        <p> Product features here</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="what-we-do container">
            <div class="row">
                <div class="service span12" style="border-radius:20px">
                    <legend><h3 style="color:#9d426b">What is Baby Protect</h3>
                    Concern: Health of Women and Children in India.</legend>
                    <div class=" span5" align=left>
                    GOI's Ministry of Health and Family Welfare (MoHFW) as part of the National Rural Health Mission (NRHM) institutes ASHA workers(Accredited Social Health Activist ) who are trained to act as a connect between the rural public and the public health system. One of their tasks include to remind pregnant women about their upcoming test or vaccinations and also the mothers about the upcoming immunization dates for their children.
                    </div>
                    <div class=" span5 offset1" align=left>
                    However it often happens that ASHA worker may not be able to perform her duty effectively. And, in the process the health of the rural public suffers. Baby protect Seva+’s goal is to help in this mission with the use of modern day technology and communication facilities which have very well penetrated the rural areas of India and with significant help from the NGOs who work in this domain.
                    </div>
                </div>
            </div>
        </div>

        <div class="what-we-do container">
            <div class="row">
                <div class="service span12" style="border-radius:20px">
                    <legend><h3 style="color:#9d426b">About Baby Protect Seva+</h3></legend>
                    <div class=" span5" align=left>
                    An NGO management portal for rural India.<br>Baby Protect Seva + is a service to be used by Non Governmental Organizations who work mainly for the rural public, more so in the health domain. The NGOs can use it to:
                    <ol>
                        <li>Unicast SMS/voice based vaccination reminders to each individual family under their administration </li>
                        <li>Multicast SMS/voice based general purpose information to a selected interest group located in the NGO’s administration area.</li>
                    </ol>
                     
                     Baby Protect Seva + will play an essential role in rural places where the people are not aware of pre-natal and post-natal health services and solely rely on the community workers(such as ASHA worker) for reminding about vaccination/tests and escorting the women and children to health centers. These community workers can often escape their duties. Hence an automatic system such as Baby Protect Seva + will be very helpful.
                     Moreover, in rural places ,where notifications about daily matters such as weather reports, crop sale, health camps etc are important can be multicast to the group of people with the help of this software.
                     <br><br>
                    <h5 style="color:#555555">Primary Features</h5>
                    <ol>
                        <li>Manage Database
                            <ol>
                                <li>New Asha Worker</li>
                                <li>Add - Update - Edit - Remove Family</li>
                            </ol>
                        </li>
                        <li>Unicast Settings</li>
                        <li>Multicast</li>
                        <li>Last Multicast</li>
                    </ol>
                    </div>
                    <div class=" span5 offset1" align=left>
                    <h4>Primary Features provided by Baby Protect Seva +  :</h4>
                    <h5 style="color:#555555">Manage Database :</h5>
                    First and foremost , the NGO needs to provide the details about the families and the ASHA workers which come under their area. These details will be used by our system to schedule and unicast health reminders to the relevant families and multicast notifications to a selected interest group. This will come under ‘Manage Database’. The user representing the NGO will also be able to view, update and delete from the database as and when required.
                    <h5 style="color:#555555">Unicast:</h5>
                    This feature enables the NGO operator to:
                    <ol>
                        <li> ON/OFF the reminders</li>
                        <li>Way of reminding : SMS/VOICE</li>
                        <li>Set the days before to send the voice/sms</li>
                        <li>Time of the day when to send the reminder</li>
                    </ol>
                    Once these settings are set and the data has been uploaded, our system will automatically schedule and send reminders to the relevant public on their phone.

                    
                    <h5 style="color:#555555">Multicast:</h5>
                    In rural areas, there are several notifications which are pertinent to the lives of the rural people such as medical camps, sale of crops ,weather information etc. Baby Protect Seva + provides  the facility of selecting the group of people on the basis of their age group, occupation, gender, village and pregnancy status and multicasting them relevant information on their phone either through SMS or voice.
                    </div>
                </div>
            </div>
        </div>
<br>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="copyright span4">
                        <p>&copy; Copyright 2013 Baby Protect</a>.</p>
                    </div>
                    <div class="social span8">
                        <a class="facebook" href=""></a>
                       
                        <a class="twitter" href=""></a>
                       
                    </div>
                </div>
            </div>
        </footer>

        <!-- Javascript -->
        <script src="assets/js/jquery-1.8.2.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider.js"></script>
        <script src="assets/js/jquery.tweet.js"></script>
        <script src="assets/js/jflickrfeed.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="assets/js/jquery.ui.map.min.js"></script>
        <script src="assets/js/jquery.quicksand.js"></script>
        <script src="assets/prettyPhoto/js/jquery.prettyPhoto.js"></script>
        <script src="assets/js/scripts.js"></script>

    </body>

</html>

