        
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <title>Baby Protect seva+ | Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/prettyPhoto/css/prettyPhoto.css">
        <link rel="stylesheet" href="assets/css/flexslider.css">
        <link rel="stylesheet" href="assets/css/font-awesome.css">
        <link rel="stylesheet" href="assets/css/style.css">
          <style>
            .what-we-do .shortcuts a{
                border-radius:5px;
                padding:20px;
                background:#5d5d5d;

            }
        </style>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
      
    </head>

    <body>

        <!-- Header -->
        <div class="container">
            <div class="header row">
                <div class="span12">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <h1>
                                <a class="brand" href="/">Baby Protect</a>
                            </h1>
                            <div class="nav-collapse collapse">
                                <ul class="nav pull-right">
                                    <li class="current-page">
                                        <a href="/"><i class="icon-dashboard icon-large"></i><br />Dashboard<br>&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="/managedb"><i class="icon-tasks icon-large"></i><br />Manage<br> Database</a>
                                    </li>
                                    
                                    <li>
                                        <a href="/multicast"><i class="icon-group	  icon-large"></i><br />Multicast<br>&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="/unicast"><i class="icon-star  icon-large"></i><br />Unicast<br>&nbsp;</a>
                                    </li>
                                     
                                    
                          
                                    <li>
                                        <a href="/users/edit"><i class="icon-user  icon-large"></i><br />Profile<br>&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="/users/sign_out"><i class="icon-pencil  icon-large"></i><br />LOGOUT<br>&nbsp;</a>
                                   </li>
                              		
                                </ul>
                                
                               
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

       <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <i class="icon-user page-title-icon"></i>
                        <h2>Dashboard/</h2>
                        <p>Everything at a glance</p>
                        <p class="pull-right" style="padding-right:30px;padding-top:10px;display:inline">
                                 Logged in as : <%= current_user.name %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
     

        <!-- Services -->
        <div class="what-we-do container">
            <div class="row">
                <div class="span8">
                    <div class="service">
                        <br>
                        <div class="icon-awesome">
                            <i class="icon-bolt"></i>
                            <h3 style="display:inline;vertical-align:top">Quick Shortcuts</h3>
                        </div>
                        <div>
                        <div style="width:40%;display:inline-block;font-size:16px" class="shortcuts">

                            <h3><i class="icon-tasks"> </i> Manage Database</h3><br><br>
                            <a href="/ashaworker"> <i class="icon-pencil"></i>&nbsp;&nbsp;Register New Ashaworker</a><br><br><bR><br>
                            <a href="/managedb/new"> <i class="icon-file"> </i>&nbsp;&nbsp;Register New Family&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><br><br>
                           
                        </div>
                        <div style="width:40%;display:inline-block;font-size:16px" class="shortcuts">
                        <h3><i class="icon-group"> </i> Multicast</h3><br><Br>
                         <a href="/multicast/search"> <i class="icon-bullhorn"> </i>&nbsp;&nbsp;Create New Multicast&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><br><br><bR><br>
                            <a href="/multicast/last_multicast"><i class="icon-signal"> </i>&nbsp;&nbsp;View Last Multicast Progress</a><br><br>
                        </div>

                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="service" style="text-align:left;padding:20px;padding-left:40px">
                        
                        <div class="icon-awesome" style="text-align:center">
                            <i class="icon-bar-chart"></i>
                            <h3 style="display:inline;vertical-align:top">Quick Stats</h3> 
                        </div>
                        <br>
                         <h4><li>Registered Families : <%=@famcount%></h4> 
                         <h4><li>Registered people : <%=@peoplecount%> </h4> 
                         <h4><li>Total Mutlicasts : <%=@multicount%> </h4> 
                        <br><Br><Br><br><br><BR>
                    </div>
                </div>

            </div>
            <br>
           
        </div>


        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="copyright span4">
                        <p>&copy; Copyright 2013 Baby Protect</a>.</p>
                    </div>
                    <div class="social span8">
                        <a class="facebook" href=""></a>
                       
                        <a class="twitter" href=""></a>
                       
                    </div>
                </div>
            </div>
        </footer>

        <!-- Javascript -->
        <script src="assets/js/jquery-1.8.2.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider.js"></script>
        <script src="assets/js/jquery.tweet.js"></script>
        <script src="assets/js/jflickrfeed.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="assets/js/jquery.ui.map.min.js"></script>
        <script src="assets/js/jquery.quicksand.js"></script>
        <script src="assets/prettyPhoto/js/jquery.prettyPhoto.js"></script>
        <script src="assets/js/scripts.js"></script>

    </body>

</html>