
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <title>Baby Protect | Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/prettyPhoto/css/prettyPhoto.css">
        <link rel="stylesheet" href="assets/css/flexslider.css">
        <link rel="stylesheet" href="assets/css/font-awesome.css">
        <link rel="stylesheet" href="assets/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
        <style>
        .custom_tab
        {
        font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
        width:100%;
        border-collapse:collapse;
        }
        .custom_tab td, .custom_tab th 
        {
             color:#000000;
        font-size:1em;
        border:1px solid #9d426b;
        padding:3px 7px 2px 7px;
        }
        .custom_tab th 
        {
        font-size:1.1em;
        text-align:center;
        padding-top:5px;
        padding-bottom:4px;
        background-color:#9d426b;;
        color:#ffffff;
        }
        .custom_tab tr.alt td 
        {
        color:#000000;
        background-color:#c1c1c1;
        }
        </style>

    </head>

    <body>
         <div class="container">
            <div class="header row">
                <div class="span12">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <h1>
                                <a class="brand" href="/">Baby Protect</a>
                            </h1>
                            <div class="nav-collapse collapse">
                                <ul class="nav pull-right">
                                    <li>
                                        <a href="/"><i class="icon-home  icon-large"></i><br />Home</a>
                                    </li>
                                    <li>
                                        <a href="/features"><i class="icon-star  icon-large"></i><br />Features</a>
                                    </li>
                                     <li class="current-page">
                                        <a href="/howtouse"><i class="icon-book  icon-large"></i><br />How-To-Use</a>
                                    </li>
                                    <li>
                                        <a href="/contactus"><i class="icon-envelope  icon-large"></i><br />Contact Us</a>
                                    </li>
                          
                                    <li>
                                        <a href="/users/sign_in"><i class="icon-key  icon-large"></i><br />Login</a>
                                    </li>
                                    <li>
                                      
                                        <a href="/users/sign_up"><i class="icon-pencil  icon-large"></i><br />Signup</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <i class="icon-book page-title-icon"></i>
                        <h2>How to use |</h2>
                        <p> Find User Manual Here</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="what-we-do container">
            <div class="row">
                <div class="service span12" style="border-radius:20px;padding-left:25px" align=left>
                    <legend><h3 style="color:#9d426b">Step-by-step user instructions</h3></legend>
                    <h3>Step 1</h3>
                    Register for this service, click on Sign Up button on the website.Navigate to the image highlighted below. Fill in the details asked for. All the fields are compulsory.<br>Please note that your NGO’s name would be in the dropdown menu only if it has agreed to associate with our service.<br>Click on ‘Sign Up’ button. Your registration will be sent to our administrators for verification. 
                    <img src="/assets/how/signup.png" class="img-polaroid" style="width:75%;">

                    <h3>Step 2</h3>
                    When you log in using your username and password, you will be on the verification page until and unless your verification is not complete.<br>Once verification formalities are completed, you will be able to log in to your account and you will be directed to your dashboard.<br> Dashboard image shown below.<br>
                    <img src="/assets/how/dashboard.png" class="img-polaroid" style="width:75%;">
                    <br>
                    The Navigation bar at the top contains the following features for your use:
                    <table class="custom_tab" style="width:50%">
                        <tr>
                            <td>Dashboard</td>
                            <td>The page shown just above</td>
                        </tr>
                        <tr>
                            <td>Manage Database</td>
                            <td>Add-Edit-Update-Delete information of families and ASHA workers stored in your database.</td>
                        </tr>
                        <tr>
                            <td>Multicast</td>
                            <td>To multicast notifications in your area</td>
                        </tr>
                        <tr>
                            <td>Unicast</td>
                            <td>View/edit  settings for reminders for people under your administration.</td>
                        </tr>
                        <tr>
                            <td>Profile</td>
                            <td>View/Edit your profile information</td>
                        </tr>
                        <tr>
                            <td>Logout</td>
                            <td>To log out from your account.</td>
                        </tr>
                    </table>
                    <h3>Manage  Database</h3>
                    Add-Edit-Update-Delete information of families and ASHA workers stored in your database.
                    <br>
                    <img src="/assets/how/managedb.png" class="img-polaroid" style="width:75%;">
                    <br>
                    <h4>New ASHA worker</h4>
                    A list of existing already registered ASHA workers under your area is displayed on the right side.<br>Each ASHA worker is identified by a unique ASHA worker ID generated by the system.<br>To make an entry for a new ASHA worker, all you have to do is enter his/her name and mobile number.The unique ID is already created for the new entry.<br>Click ‘Create’ after making the entries. The list of registered ASHA workers on the right gets updated.
                    <br>
                    <img src="/assets/how/asha.png" class="img-polaroid" style="width:75%;">
                    <br>
                    <h4>New Family</h4>
                    Click on ‘New Entry’ to register a new family in your database. A form to be filled will be displayed.
                    <br>
                    <img src="/assets/how/newfamily.png" class="img-polaroid" style="width:75%;">
                    <br>
                    <h4>Update Family</h4>
                    You can update family information such as birth(entry of a new member),etc. Click on the third box on Manage Database page.<br>First of all you need to search the family. To do so provide any one of the four parameters provided on the left side of the screen.<br>More importantly check the checkbox corresponding to that parameter so as to enable it.<br>Click ‘Search’. Down the page all the general details of that family will be displayed in a tabular form. Click ‘Edit’ to edit details of that family.
                    <br>
                    <img src="/assets/how/updatefam.png" class="img-polaroid" style="width:75%;">
                    <br>
                    <h4>Delete Family</h4>
                    You can delete the record of an entire family. Click on the fourth box on Manage Database page.<br>Search for the family you want to delete. Those family details will be displayed down the page. Click on 'delete' on that family
                    <br>
                    <img src="/assets/how/removefam.png" class="img-polaroid" style="width:75%;">
                    <br>
                    After clicking 'delete' it will ask for confirmation (as shown below).
                    <br>
                    <img src="/assets/how/removefamcon.png" class="img-polaroid" style="width:75%;">
                    <br>

                    <h3>Multicast</h3>
                    To multicast notifications in your area and view last multicast status.
                    <br>
                    <img src="/assets/how/multicast.png" class="img-polaroid" style="width:75%;">
                    <br>
                    <h4>New Multicast</h4>
                    To multicast notifications in your area.
                    <br>
                    <img src="/assets/how/newmulticast.png" class="img-polaroid" style="width:75%;">
                    <br>
                    <img src="/assets/how/newmulticast02.png" class="img-polaroid" style="width:75%;">
                    <br>
                    <h4>Last Multicast</h4>
                    To view details of last multicast.
                    <br>
                    <img src="/assets/how/lastmulti.png" class="img-polaroid" style="width:75%;">
                    <br>
                    <h3>Unicast</h3>
                    View/edit settings for reminders for people under your administration.
                    <br>
                    <img src="/assets/how/unicast.png" class="img-polaroid" style="width:75%;">
                    <br>
                    
                </div>
            </div>
        </div>
    
<br>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="copyright span4">
                        <p>&copy; Copyright 2013 Baby Protect</a>.</p>
                    </div>
                    <div class="social span8">
                        <a class="facebook" href=""></a>
                       
                        <a class="twitter" href=""></a>
                       
                    </div>
                </div>
            </div>
        </footer>

        <!-- Javascript -->
        <script src="assets/js/jquery-1.8.2.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.flexslider.js"></script>
        <script src="assets/js/jquery.tweet.js"></script>
        <script src="assets/js/jflickrfeed.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="assets/js/jquery.ui.map.min.js"></script>
        <script src="assets/js/jquery.quicksand.js"></script>
        <script src="assets/prettyPhoto/js/jquery.prettyPhoto.js"></script>
        <script src="assets/js/scripts.js"></script>

    </body>

</html>

