  <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <i class="icon-user page-title-icon"></i>
                        <h2>Edit A Family/</h2>
                        <p>Edited</p>
                        <p class="pull-right" style="padding-right:30px">
                                 <br>Logged in as : <%= current_user.name %>
                        </p>
                    </div>
                </div>
            </div>
        </div>

<div class="what-we-do container">
        <div class="row">
            <div class="span12">
                <div class="service" align="left" style="padding-left:10px">
                    <br>
                    <div class="alert alert-success alert-block">

                    	Famiy record successfully updated<br>

                    </div>
                    <h4>Record</h4>
                    Family ID : <span class="label label-info"><%=@fam.famid%> </span><br>
                    Total members : <span class="label label-info"><%=@fam.people.count%> </span><br>
                    Village Name : <span class="label label-info"><%=@fam.village%></span><br>
                    <br>
                      <input type="button" value="Manage DB"  onclick="javascript:window.location.href='/managedb'" class="btn btn-inverse">
                      <input type="button" value="Dashboard" id ="discard_btn" onclick="javascript:window.location.href='/'" class="btn btn-inverse">
                </div>
             
                
              </div>  
          </div>  <!-- END row -->   
                    
</div>






<br><br>
